<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="icon" href="/assets/fav-7b5afd0e.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hein Pyae's portfolio</title>
    <script type="module" crossorigin src="/assets/index-bccd60c9.js"></script>
    <link rel="stylesheet" href="/assets/index-1b156786.css">
  </head>
  <body>
    <div id="app"></div>
    
  </body>
</html>
<style>
  html{
    scroll-behavior: smooth;
  }
</style>
